@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background 0.2s ease;
}

.lock {
  max-height: 100vh;
  overflow-y: hidden;
}

.bg-circle {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  clip-path: circle(155% at 100% 0);
  transition: clip-path 0.3s linear;
  z-index: -1;
}

.bg-circle.active {
  clip-path: circle(0% at 100% 0);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
